# ----- REQUIRED -----
# Database setup
DB_HOST=watchlist-database              # or localhost/custom address for development 
DB_PORT=5432
DB_NAME=watchlist
DB_USER=watchlist_user
DB_PASSWORD=CHANGE_ME_TO_A_PROPER_PASSWORD

IMAGE_STORAGE_PATH=/data/images/        # The local directory where images are stored
SECRET_KEY=CHANGE_ME_TO_SOMETHING_ELSE  # A secure, random string used for encryption
TMDB_ACCESS_TOKEN=                      # API token from themoviedb.org

# ----- OPTIONAL -----
# JELLYFIN_URL=                           # The internal or external URL/IP of your Jellyfin instance
# JELLYFIN_API_KEY=                       # Generated in Jellyfin: Dashboard > API Keys
# JELLYFIN_SERVER_ID=                     # Optional: Found in Dashboard > Info. Only needed if managing multiple instances

# Define video asset paths for direct streaming.
# The 'type' is optional (None = auto-detect).
# VIDEO_ASSET_CONFIG = [{"path": "/data/movies", "type": "movie"},{"path": "/data/tv", "type": "tv"},{"path": "/data/mixed", "type": None}]
