DATABASE_URL=postgresql+asyncpg://user:password@host:5432/database  # Connection string for Postgres
SECRET_KEY=youReallyShouldChangeThis        # A secure, random string used for encryption
TMDB_ACCESS_TOKEN=                          # API token from themoviedb.org
IMAGE_STORAGE_PATH=/your/path/to/images/    # The local directory where images are stored

JELLYFIN_URL=https://example.com        # The internal or external URL/IP of your Jellyfin instance
JELLYFIN_API_KEY=                       # Generated in Jellyfin: Dashboard > API Keys
JELLYFIN_SERVER_ID=                     # Optional: Found in Dashboard > Info. Only needed if managing multiple instances
