body {
    font-family: 'Inter';
    background-color: var(--c-bg);
    color: var(--c-text);
}

*:focus-visible {
    outline: 2px solid var(--c-primary);
}


button {
    font-family: 'Inter';
    font-weight: 600;

    padding: var(--spacing-sm) var(--spacing-md-lg);
    border-radius: 8px;
    border: 0;
    /* border: 1px solid var(--c-border); */

    cursor: pointer;

    background-color: var(--c-neutral);
    color: var(--c-text);

    transition: background-color 0.1s var(--transition-quick);
}
button:hover {
    background-color: var(--c-neutral-lighter);
}
button:active {
    background-color: var(--c-neutral-light);
}


/* Button primary */
button.btn-primary {
    color: var(--c-text-alt);
    background-color: var(--c-primary);
}
button.btn-primary:hover {
    background-color: var(--c-primary-lighter);
}
button.btn-primary:active {
    background-color: var(--c-primary-light);
}

/* Button text */
button.btn-text {
    background-color: transparent;
    /* border: 1px solid transparent; */
}
button.btn-text:hover {
    background-color: var(--c-neutral);
    /* border: 1px solid var(--c-border); */
}
button.btn-text:active {
    background-color: var(--c-neutral-light);
}


/* Button positive */
button.btn-positive {
    background-color: var(--c-positive);
}
button.btn-positive:hover {
    background-color: var(--c-positive-lighter);
}
button.btn-positive:active {
    background-color: var(--c-positive-light);
}

/* Button warning */
button.btn-warning {
    background-color: var(--c-warning);
}
button.btn-warning:hover {
    background-color: var(--c-warning-lighter);
}
button.btn-warning:active {
    background-color: var(--c-warning-light);
}

/* Button negative */
button.btn-negative {
    background-color: var(--c-negative);
}
button.btn-negative:hover {
    background-color: var(--c-negative-lighter);
}
button.btn-negative:active {
    background-color: var(--c-negative-light);
}


/* Input */
input {
    background-color: black;
    color: var(--c-text);

    border: 1px solid var(--c-border);
    border-radius: 8px;
    padding: var(--spacing-sm);
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
form input {
    margin-bottom: var(--spacing-md);
}
form label {
    font-size: var(--fs-neg-1);
    color: var(--c-text-1);
}


/* Link */
a {
    text-decoration: none;
    color: var(--c-accent);
}
a:hover {
    text-decoration: underline;
}


/* Listing */
dl {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--spacing-lg);
    row-gap: var(--spacing-xs);
}
dl dt {
    color: var(--c-text-2);
}
dl dd {
    margin: 0;
    /* font-weight: 500; */
}