
/* --------- All/Base --------- */

.no-scroll {
    overflow: hidden;
}

body {
    font-family: 'Inter';
    background-color: var(--c-bg);
    color: var(--c-text);
    font-size: var(--fs-0);

    margin: 0;
    padding: 0;
}

#app {
    min-height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

*:focus-visible {
    outline: 2px solid var(--c-primary);
}



/* --------- Inputs --------- */

button, .btn {
    font-family: 'Inter';
    font-weight: 600;
    font-size: var(--fs-neg-1);
    display: inline-block;

    gap: var(--spacing-xs);
    padding: var(--spacing-sm) var(--spacing-md-lg);
    border-radius: 8px;
    border: 0;
    /* border: 1px solid var(--c-border); */

    cursor: pointer;

    background-color: var(--c-neutral);
    color: var(--c-text);

    transition: background-color 0.1s var(--transition-quick);
}
button:hover, .btn:hover {
    background-color: var(--c-neutral-lighter);
}
button:active, .btn:active {
    background-color: var(--c-neutral-light);
}

.btn-square {
    padding: var(--spacing-sm)
}


/* Button primary */
.btn-primary {
    color: var(--c-text-alt);
    background-color: var(--c-primary);
}
.btn-primary:hover {
    color: var(--c-text-alt);
    background-color: var(--c-primary-lighter);
}
.btn-primary:active {
    background-color: var(--c-primary-light);
}

/* Button text */
.btn-text {
    background-color: transparent;
    color: var(--c-text-1);

    transition: color 0.1s var(--transition-quick);
}
.btn-text:hover {
    background-color: transparent;
    color: var(--c-text-0);
}
.btn-text:active {
    color: var(--c-text);
    background-color: transparent;
}


/* Button positive */
.btn-positive {
    background-color: var(--c-positive);
}
.btn-positive:hover {
    background-color: var(--c-positive-lighter);
}
.btn-positive:active {
    background-color: var(--c-positive-light);
}

/* Button warning */
.btn-warning {
    background-color: var(--c-warning);
}
.btn-warning:hover {
    background-color: var(--c-warning-lighter);
}
.btn-warning:active {
    background-color: var(--c-warning-light);
}

/* Button negative */
.btn-negative {
    background-color: var(--c-negative);
}
.btn-negative:hover {
    background-color: var(--c-negative-lighter);
}
.btn-negative:active {
    background-color: var(--c-negative-light);
}


/* Input */
input {
    background-color: var(--c-input);
    color: var(--c-text);
    font-family: 'Inter';
    font-size: var(--fs-0);

    border: 1px solid var(--c-border);
    border-radius: 8px;
    padding: var(--spacing-sm);

    transition: border-color 0.1s var(--transition-quick);
}
input:hover {
    border-color: var(--c-border-1);
}
input:user-invalid {
    border-color: var(--c-negative);
}
/* input:user-valid {
    border-color: var(--c-positive);
} */

/* Form */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}
form input {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
}
form label {
    font-size: var(--fs-neg-1);
    color: var(--c-text-1);
}
form h1,
form h2,
form h3,
form h4,
form h5,
form h6 {
    margin-top: 0;
    /* margin-bottom: 0; */
}
form .checkbox-row {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
}
form .checkbox-row input[type="checkbox"] {
    margin: 0;
}

/* --------- Basic elements --------- */

/* Headers */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-md);
}
h1 {
    font-size: var(--fs-4);
}
h2 {
    font-size: var(--fs-3);
}
h3 {
    font-size: var(--fs-2);
}
h4 {
    font-size: var(--fs-1);
}
h5 {
    font-size: var(--fs-0);
}
h6 {
    font-size: var(--fs-neg-1);
}

/* Link */
a {
    /* text-decoration: none; */
    color: var(--c-text-1);
    transition: color 0.1s var(--transition-quick);
}
a:hover {
    /* text-decoration: underline; */
    color: var(--c-text-0);
}

/* Paragraph/card/section */
p {
    margin: var(--spacing-md) 0;
}


/* Listing */
dl {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--spacing-lg);
    row-gap: var(--spacing-xs);
}
dl dt {
    color: var(--c-text-2);
}
dl dd {
    margin: 0;
    /* font-weight: 500; */
}