button, .btn {
    font-family: 'Inter';
    font-weight: 600;
    font-size: var(--fs-neg-1);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    gap: var(--spacing-xs);
    padding: var(--spacing-sm) var(--spacing-md-lg);
    border-radius: 8px;
    border: 0;
    /* border: 1px solid var(--c-border); */

    cursor: pointer;

    background-color: var(--c-neutral);
    color: var(--c-text);

    transition: background-color 0.1s var(--transition-ease-out);
}
button:not(:disabled):hover,
.btn:not(:disabled):hover {
    background-color: var(--c-neutral-lighter);
}
button:not(:disabled):active,
.btn:not(:disabled):active {
    background-color: var(--c-neutral-light);
}
button:disabled, .btn:disabled {
    cursor: not-allowed;
    filter: opacity(0.75);
}

.btn-square {
    padding: var(--spacing-sm)
}



/* Button text */
.btn-text {
    background-color: transparent;
    color: var(--c-text-1);

    transition: color 0.1s var(--transition-ease-out);
}
.btn-text:not(:disabled):hover {
    background-color: transparent;
    color: var(--c-text-0);
}
.btn-text:not(:disabled):active {
    color: var(--c-text);
    background-color: transparent;
}

i.btn-text {
    font-size: var(--fs-2);
}

.btn-underline {
    cursor: pointer;
    text-decoration: none;
    color: currentColor !important;
}
.btn-underline:hover {
    text-decoration: underline;
}


/* Normal colored buttons */
.btn-primary {
    color: var(--c-text-alt);
    background-color: var(--c-primary);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-primary:not(:disabled):hover {
    color: var(--c-text-alt);
    background-color: var(--c-primary-lighter);
}
.btn-primary:not(:disabled):active {
    background-color: var(--c-primary-light);
}

.btn-accent {
    color: var(--c-text);
    background-color: var(--c-accent);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-accent:not(:disabled):hover {
    color: var(--c-text);
    background-color: var(--c-accent-lighter);
}
.btn-accent:not(:disabled):active {
    background-color: var(--c-accent-light);
}

.btn-favourite {
    color: var(--c-text);
    background-color: var(--c-favourite);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-favourite:not(:disabled):hover {
    color: var(--c-text);
    background-color: var(--c-favourite-lighter);
}
.btn-favourite:not(:disabled):active {
    background-color: var(--c-favourite-light);
}

.btn-positive {
    background-color: var(--c-positive);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-positive:not(:disabled):hover {
    background-color: var(--c-positive-lighter);
}
.btn-positive:not(:disabled):active {
    background-color: var(--c-positive-light);
}

.btn-warning {
    background-color: var(--c-warning);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-warning:not(:disabled):hover {
    background-color: var(--c-warning-lighter);
}
.btn-warning:not(:disabled):active {
    background-color: var(--c-warning-light);
}

.btn-negative {
    background-color: var(--c-negative);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-negative:not(:disabled):hover {
    background-color: var(--c-negative-lighter);
}
.btn-negative:not(:disabled):active {
    background-color: var(--c-negative-light);
}


