button, .btn {
    font-family: 'Inter';
    font-weight: 600;
    font-size: var(--fs-neg-1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle; /* Fixes an odd bug where it is sometimes offset */

    gap: var(--spacing-xs);
    padding: var(--spacing-sm) var(--spacing-md-lg);
    border-radius: 8px;
    border: 0;
    /* border: 1px solid var(--c-border); */

    cursor: pointer;

    background-color: var(--c-neutral);
    color: var(--c-text-strong);

    transition: background-color 0.1s var(--transition-ease-out);
}
button:not(:disabled):hover,
.btn:not(:disabled):hover {
    color: var(--c-text-strong);
    background-color: var(--c-neutral-subtle);
}
button:not(:disabled):active,
.btn:not(:disabled):active {
    color: var(--c-text-strong);
    background-color: var(--c-neutral-soft);
}
button:disabled, .btn:disabled {
    cursor: not-allowed;
    filter: opacity(0.75);
}

.btn-even-padding {
    padding: var(--spacing-sm)
}



/* Button text */
.btn-text {
    background-color: transparent;
    color: var(--c-text-base);
    cursor: pointer;

    transition: color 0.1s var(--transition-ease-out),
                background-color 0.1s var(--transition-ease-out);
}
.btn-text:not(:disabled):hover {
    background-color: var(--c-neutral-soft);
    color: var(--c-text-strong);
}
.btn-text:not(:disabled):active {
    background-color: var(--c-neutral);
    color: var(--c-text-strong);
}

i.btn-text {
    font-size: var(--fs-2);
}

.btn-underline {
    cursor: pointer;
    text-decoration: none;
    color: currentColor !important;
}
.btn-underline:hover {
    text-decoration: underline;
}


/* Normal colored buttons */
.btn-primary {
    color: var(--c-text-inv-base);
    background-color: var(--c-primary);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-primary:not(:disabled):hover {
    color: var(--c-text-inv-strong);
    background-color: var(--c-primary-subtle);
}
.btn-primary:not(:disabled):active {
    color: var(--c-text-inv-strong);
    background-color: var(--c-primary-soft);
}

.btn-accent {
    background-color: var(--c-accent);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-accent:not(:disabled):hover {
    background-color: var(--c-accent-subtle);
}
.btn-accent:not(:disabled):active {
    background-color: var(--c-accent-soft);
}

.btn-favourite {
    background-color: var(--c-favourite);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-favourite:not(:disabled):hover {
    background-color: var(--c-favourite-subtle);
}
.btn-favourite:not(:disabled):active {
    background-color: var(--c-favourite-soft);
}

.btn-positive {
    background-color: var(--c-positive);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-positive:not(:disabled):hover {
    background-color: var(--c-positive-subtle);
}
.btn-positive:not(:disabled):active {
    background-color: var(--c-positive-soft);
}

.btn-warning {
    background-color: var(--c-warning);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-warning:not(:disabled):hover {
    background-color: var(--c-warning-subtle);
}
.btn-warning:not(:disabled):active {
    background-color: var(--c-warning-soft);
}

.btn-negative {
    background-color: var(--c-negative);
    transition: background-color 0.1s var(--transition-ease-out);
}
.btn-negative:not(:disabled):hover {
    background-color: var(--c-negative-subtle);
}
.btn-negative:not(:disabled):active {
    background-color: var(--c-negative-soft);
}


