.card {
    background-color: var(--c-bg-level-1);
    border-radius: 16px;
    padding: var(--spacing-md-lg);
}


a.hover-line {
    text-decoration: none;
    color: currentColor !important;
}
a.hover-line:hover {
    text-decoration: underline;
}

.subtle {
    color: var(--c-text-subtle) !important;
}
a.subtle:hover,
.btn.subtle:hover,
button.subtle:hover {
    color: var(--c-text-soft) !important;
}

.soft {
    color: var(--c-text-soft) !important;
}
a.subtle:hover,
.btn.subtle:hover,
button.subtle:hover {
    color: var(--c-text) !important;
}
