[data-theme='midnight'] {
    --c-bg-base: oklch(19% 0.01 230);

    --c-text-base: oklch(92.5% 0.01 230);
    --c-text-inv-base: oklch(7.5% 0.01 230);

    --c-primary:    oklch(92% 0 230);
    --c-neutral:    oklch(40% 0.01 230 / 33%);
    /* --c-neutral:    oklch(30% 0.01 230); */

    --c-watchlist:  oklch(32.8% 0.065 230);
    --c-favourite:  oklch(51.196% 0.175 14);

    --c-positive:   oklch(58% 0.14 155);
    --c-warning:    oklch(75% 0.14 80);
    --c-negative:   oklch(52% 0.14 27);


    --bg-step-1: 0.025; 
    --bg-step-2: 0.06;

    --hero-backdrop-fade-intensity: 0.25;
    --hero-backdrop-min-brightness: 0.35;
    --details-backdrop-fade-intensity: 0.66;
    --details-backdrop-min-brightness: 0;
}
