
/* ----------- Colors ----------- */
:root {
    /* Base Colors */
    --c-bg-base: oklch(0% 0 0);

    --c-text-base: oklch(92.5% 0 0);
    --c-text-inv-base: oklch(7.5% 0 0);

    --c-primary:    oklch(92% 0 0);
    --c-watchlist:  oklch(32.8% 0.065 240);
    --c-favourite:  oklch(51.196% 0.175 14);
    --c-neutral:    oklch(40% 0 0 / 33%);
    --c-positive:   oklch(58% 0.14 155);
    --c-warning:    oklch(75% 0.14 80);
    --c-negative:   oklch(52% 0.14 27);


    /* Offsets and levels */
    --l-step-1: 0.03;
    --l-step-2: 0.06;

    --bg-step-1: 0.19; 
    --bg-step-2: 0.22;
    
    --a-trans: 0.66;
    --a-border: 0.8;

    --hero-backdrop-fade-intensity: 0;
    --hero-backdrop-min-brightness: 0.4;
    --details-backdrop-fade-intensity: 0;
    --details-backdrop-min-brightness: 0.25;

    /* Borders and inputs (TODO) */
    --c-border: hsla(0, 0%, 50%, 0.25);
    --c-border-1: hsla(0, 0%, 50%, 0.5);
    --c-input: hsla(0, 0%, 2%, 0.5);
    
    /* Background levels */
    --c-bg-level-1: oklch(from var(--c-bg-base) calc(l + var(--bg-step-1)) c h);
    --c-bg-level-2: oklch(from var(--c-bg-base) calc(l + var(--bg-step-2)) c h);
    --c-bg-opaque-base:     oklch(from var(--c-bg-base) l c h / var(--a-trans));
    --c-bg-opaque-level-1:  oklch(from var(--c-bg-base) calc(l + var(--l-step-1)) c h / var(--a-trans));
    --c-bg-opaque-level-2:  oklch(from var(--c-bg-base) calc(l + var(--l-step-2)) c h / var(--a-trans));
    --c-bg-backdrop: oklch(from var(--c-bg-base) l c h / 50%);

    /* Text levels */
    --c-text-strong:  oklch(from var(--c-text-base) 100% c h);
    --c-text-soft:    oklch(from var(--c-text-base) 75% c h);
    --c-text-subtle:  oklch(from var(--c-text-base) 50% c h);

    --c-text-inv-strong:  oklch(from var(--c-text-inv-base) 0% c h);
    --c-text-inv-soft:    oklch(from var(--c-text-inv-base) 25% c h);
    --c-text-inv-subtle:  oklch(from var(--c-text-inv-base) 50% c h);
    
    /* Unique color variations */
    --c-primary-soft:        oklch(from var(--c-primary) calc(l + var(--l-step-1)) c h);
    --c-primary-subtle:      oklch(from var(--c-primary) calc(l + var(--l-step-2)) c h);
    --c-primary-transparent: oklch(from var(--c-primary) l c h / var(--a-trans));
    --c-primary-border:      oklch(from var(--c-primary) l c h / var(--a-border));

    --c-watchlist-soft:        oklch(from var(--c-watchlist) calc(l + var(--l-step-1)) c h);
    --c-watchlist-subtle:      oklch(from var(--c-watchlist) calc(l + var(--l-step-2)) c h);
    --c-watchlist-transparent: oklch(from var(--c-watchlist) l c h / var(--a-trans));
    --c-watchlist-border:      oklch(from var(--c-watchlist) l c h / var(--a-border));

    --c-favourite-soft:        oklch(from var(--c-favourite) calc(l + var(--l-step-1)) c h);
    --c-favourite-subtle:      oklch(from var(--c-favourite) calc(l + var(--l-step-2)) c h);
    --c-favourite-transparent: oklch(from var(--c-favourite) l c h / var(--a-trans));
    --c-favourite-border:      oklch(from var(--c-favourite) l c h / var(--a-border));

    --c-neutral-soft:        oklch(from var(--c-neutral) calc(l + var(--l-step-1)) c h);
    --c-neutral-subtle:      oklch(from var(--c-neutral) calc(l + var(--l-step-2)) c h);
    --c-neutral-transparent: oklch(from var(--c-neutral) l c h / var(--a-trans));
    --c-neutral-border:      oklch(from var(--c-neutral) l c h / var(--a-border));

    --c-positive-soft:        oklch(from var(--c-positive) calc(l + var(--l-step-1)) c h);
    --c-positive-subtle:      oklch(from var(--c-positive) calc(l + var(--l-step-2)) c h);
    --c-positive-transparent: oklch(from var(--c-positive) l c h / var(--a-trans));
    --c-positive-border:      oklch(from var(--c-positive) l c h / var(--a-border));

    --c-warning-soft:        oklch(from var(--c-warning) calc(l + var(--l-step-1)) c h);
    --c-warning-subtle:      oklch(from var(--c-warning) calc(l + var(--l-step-2)) c h);
    --c-warning-transparent: oklch(from var(--c-warning) l c h / var(--a-trans));
    --c-warning-border:      oklch(from var(--c-warning) l c h / var(--a-border));

    --c-negative-soft:        oklch(from var(--c-negative) calc(l + var(--l-step-1)) c h);
    --c-negative-subtle:      oklch(from var(--c-negative) calc(l + var(--l-step-2)) c h);
    --c-negative-transparent: oklch(from var(--c-negative) l c h / var(--a-trans));
    --c-negative-border:      oklch(from var(--c-negative) l c h / var(--a-border));
}


/* ----------- Spacings ----------- */
:root {
    --spacing-layout-inline: 5vw;

    --spacing-xs: 4px;
    --spacing-xs-sm: 6px;
    --spacing-sm: 8px;
    --spacing-sm-md: 12px;
    --spacing-md: 16px;
    --spacing-md-lg: 24px;
    --spacing-lg: 32px;
    --spacing-lg-xl: 48px;
    --spacing-xl: 64px;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
}


/* ----------- Font sizes ----------- */
:root {
    --font-size-base: 1rem;

    --fs-multiplier: 1.2;

    --fs-neg-2: calc(var(--fs-neg-1) / var(--fs-multiplier));
    --fs-neg-1: calc(var(--fs-0) / var(--fs-multiplier));
    --fs-0   : var(--font-size-base);
    --fs-1   : calc(var(--fs-0) * var(--fs-multiplier));
    --fs-2   : calc(var(--fs-1) * var(--fs-multiplier));
    --fs-3   : calc(var(--fs-2) * var(--fs-multiplier));
    --fs-4   : calc(var(--fs-3) * var(--fs-multiplier));
}


/* ----------- Transitions ----------- */
:root {
    --transition-ease-out: cubic-bezier(.23,.52,.4,.95);
    --transition-bounce: cubic-bezier(.33,.24,.19,1.45);
}


/* ----------- Z indexes ----------- */
:root {
    --z-modal: 2000;
    --z-nav: 1000;
}

/* -----------Blur amounts ----------- */
:root {
    --blur-heavy: 32px;
    --blur-subtle: 8px;
}
